body,
html {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Metropolis";
  src: url("fonts/metropolis-regular.ttf") format("truetype");
}

p {
  font-family: "Metropolis", sans-serif;
  text-decoration-color: black;
  line-height: 1.4;
}

span {
  font-family: "Metropolis", sans-serif;
  font-weight: bold;
  text-decoration-color: black;
}

h1 {
  font-family: Metropolis, sans-serif;
  color: white;
}

h2 {
  font-family: Metropolis, sans-serif;
  color: rgba(255, 255, 255, 0.6);
  font-size: 110%;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
  padding: 0;
  font-family: Open Sans, sans-serif;
  color: #191e1e;
  font-weight: 200;
}

li {
  padding-bottom: 15px;
  transition: 0.2s;
  cursor: pointer;
  display: flex;
}

li:hover {
  color: #6db33f;
  transition: 0.2s;
}

/*styles for header */
.header {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 9px;
  padding-bottom: 9px;
  display: flex;
}

.container {
  width: 100%;
  margin: 0 8%;
  position: relative;
}

.header-inner {
  display: flex;
  align-items: center;
}

.main-logo {
  height: 48px;
  width: 27%;
  min-width: 210px;
  margin-right: 20px;
}

.icon-adaptive-menu {
  display: none;
  margin-right: 0 !important;
  cursor: pointer;
}

.nav {
  width: 70%;
  display: flex;
  justify-content: right;
  max-width: 800px;
  height: 48px;
}

.nav-link1,
.nav-link2,
.nav-link3,
.nav-link4,
.nav-link5,
.nav-link6 {
  font-family: Metropolis, sans-serif;
  color: rgb(0, 0, 0);
  font-weight: 600;
  text-decoration: none;
  font-size: 14px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  position: relative;
}

.arrow-icon {
  width: 12px;
  height: 12px;
  margin-left: 5px;
}

.nav-link1:hover .hidden-menu1,
.hidden-menu1:hover,
.nav-link2:hover .hidden-menu2,
.hidden-menu2:hover,
.nav-link3:hover .hidden-menu3,
.hidden-menu3:hover,
.nav-link4:hover .hidden-menu4,
.hidden-menu4:hover,
.nav-link5:hover .hidden-menu5,
.hidden-menu5:hover,
.nav-link6:hover .hidden-menu6,
.hidden-menu6:hover {
  opacity: 1;
  visibility: visible;
  transition: 0.4s;
}

.hidden-menu1,
.hidden-menu2,
.hidden-menu3,
.hidden-menu4,
.hidden-menu5,
.hidden-menu6 {
  position: absolute;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: white;
  box-shadow: 0px 5px 30px 0px rgba(108, 135, 135, 0.5);
  padding: 10px 50px 10px 30px;
  top: 47px;
  left: -20px;
  z-index: 3;
  visibility: hidden;
  opacity: 0;
  transition: 0.2s;
  width: max-content;
}

.nav-link1:hover,
.nav-link2:hover,
.nav-link3:hover {
  cursor: pointer;
}

.link-icon {
  height: 15px;
  width: 15px;
}
/*styles for first block with information about company*/
.first-intro {
  width: 100%;
  display: flex;
}

.first-intro-title {
  font-size: 60px;
  margin: 60px 10px 0px;
}

.first-intro-about {
  font-size: 24px;
  max-width: 1040px;
  line-height: 1.7;
  margin: 0 10px 80px;
}

/*second block - main projects*/
.second-intro {
  width: 100%;
  background-color: rgba(235, 242, 242, 1);
}

.container-second {
  display: flex;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 40px;
}

.project-content {
  margin-left: 20px;
}

.container-projects {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0px 10px;
}

.child-projects {
  display: flex;
  align-items: self-start;
  background-color: white;
  width: 42%;
  padding: 20px 20px 20px 20px;
  display: flex;
  margin: 10px 0px 10px 0px;
  border-radius: 4px;
  transition: 0.3s;
  border: 1px solid #d9e9e9;
}

.child-projects:hover {
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.1);
  transform: translateY(-7px);
  transition: 0.3s;
}

.name-project {
  font-size: 24px;
  font-weight: bold;
  color: black;
}

.icons {
  min-height: 60px;
  min-width: 60px;
  padding-top: 24px;
}

/*third block - attic*/
.third-intro {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: rgba(235, 242, 242, 1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.container-third {
  display: flex;
  flex-direction: column;
  margin: 0 8%;
  padding-top: 20px;
  padding-bottom: 40px;
  border-top: 2px solid black;
}

.attic-projects {
  font-size: 24px;
  font-weight: 700;
  margin: 0 10px;
}

.container-spec-projects {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 10px;
}

.child-spec-projects {
  max-width: 38%;
}

/*fourth block*/
.fourth-intro {
  width: 100%;
  background-color: rgba(235, 242, 242, 1);
  display: flex;
  justify-content: center;
}

.container-fourth {
  display: flex;
  width: 100%;
  margin: 0 8%;
  padding-top: 30px;
  padding-bottom: 50px;
  position: relative;
}

.container-gets {
  display: flex;
  justify-content: space-between;
  max-width: 900px;
  position: relative;
  z-index: 2;
}

.child-gets {
  width: 70%;
  margin-right: 50px;
}

.get-news {
  font-size: 24px;
  font-weight: bold;
}

.circle-banner {
  background-color: #6db33f;
  border-radius: 50%;
  height: 345px;
  position: absolute;
  right: -200px;
  top: 32px;
  width: 345px;
  z-index: 0;
}

.footer-icon {
  height: 100px;
  position: absolute;
  right: 30px;
  top: 20px;
  width: 100px;
}

/*footer*/
.footer {
  width: 100%;
  display: flex;
  background-color: white;
  position: relative;
  z-index: 1;
}

.container-footer {
  max-width: 1140px;
  width: 100%;
  margin: 0 8%;
  padding-top: 20px;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-between;
}

.container-list {
  display: flex;
  width: 50%;
  justify-content: space-between;
}
.list-item {
  margin-right: 10px;
}
.footer-h2 {
  font-weight: bold;
  font-size: 115%;
  transition: 0.3s;
  cursor: pointer;
}

.footer-h2:hover {
  color: #6db33f;
  transition: 0.3s;
}

.container-sumbition {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.email {
  border: 2px solid black;
  width: 50%;
  height: 35px;
}

.subscribe {
  border: 2px solid black;
  width: 40%;
  height: 41px;
  background-color: black;
  color: white;
}

.child-input-area {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

/*for mobile version menu(not use)*/
.mobile-menu {
  display: none;
  background-color: #191e1e;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 11;
  max-width: 100%;
  overflow-y: scroll;
  animation: slideDown 0.3s ease-out;
}

.sumbol-close {
  position: relative;
  left: 95%;
  padding-right: 15px;
  cursor: pointer;
}

.sumbol-close > h1 {
  font-size: 30px;
  font-weight: 100;
  font-size: 25px;
}

.container-mobile-menu {
  width: auto;
  margin: 80px 20px;
}

.item-menu {
  border-bottom: 1px solid rgba(255, 255, 255, 1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-title {
  font-weight: 100;
  cursor: pointer;
}

.menu-title:hover {
  color: #6db33f;
  transition: 0.2s;
}

.first-mobile-hidden-menu,
.second-mobile-hidden-menu,
.third-mobile-hidden-menu,
.fourth-mobile-hidden-menu,
.fifth-mobile-hidden-menu,
.sixth-mobile-hidden-menu {
  display: none;
  transition: 0.5s;
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
